body {
    background: linear-gradient(to right, #230543, #2575fc); 
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

html {
    font-size: clamp(10px, 1.5vw, 16px);
}

.login-container {
    background-color: rgb(21, 108, 163);
    padding: 2rem;
    border-radius: 1.875rem;
    box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 25rem;
    text-align: center;
}

.heading {
    margin-bottom: 2.5rem;
    font-size: 2.8rem;
    font-style: oblique;
}

.quiz-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.username, .pwd {
    background-color: inherit;
    border: none;
    border-bottom: 0.09375rem solid rgb(190, 193, 202);
    margin-bottom: 1.5625rem;
    text-decoration: none;
    color: white;
    outline: none;
    width: 72%;
    padding-top: 0.625rem;
}

.username::selection .pwd:focus{
    outline: none;
}
.username::placeholder, .pwd::placeholder ,.gen{
    color: rgb(39, 42, 80);
    font-size: 1.3rem;
    font-weight: 500;
    font-style: italic;
}


.gender {
    width: 73%;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 0.5rem;
}

.gender input {
    margin: 0 0.1875rem 0 0.1875rem;
}

.gen {
    margin-right: 0.5rem;
}

.gender1 {
    display: flex;
}

.gender1 label {
    display: flex;
    align-items: center;
    margin-right: 0.3125rem;
}

.login-button {
    background-color: #ff4757; 
    color: white;
    border: none;
    border-radius: 0.3125rem;
    padding: 0.625rem 1.25rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 0.625rem;
    margin-bottom: 0.9375rem;
    width: 35%;
}

.login-button:enabled:hover {
    background-color: #1d0ca1; 
}

.sign {
    color: blue;
    font-size: 1.2rem;
}

.errorMessage{
    color: rgb(224, 11, 11);
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 3px;
    display: none;
}
