<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Java Quiz</title>
    <link rel="stylesheet" href="css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="js/login.js" defer></script>
    
</head>
<body>
    <div class="login-container">
        <h1 class="heading">Quiz Master</h1>
        <div class="error-message" th:if="${error}" th:text="${error}"> </div>
       <form id="loginForm" method="post" action="/login">

        <div class="quiz-info">
            <input type="email" class="username" placeholder="Email" id="email" name="email" required>
            <input type="password" class="pwd" placeholder="Password"  id="pwd" name="password" required>
         </div>
        
         <button id="login-button" class="login-button">Login</button>
         <br>
 
         <a href="/signup" class="sign">Sign up </a>
       </form>
    </div>
</body>
</html>
