<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Application</title>
    <link rel="stylesheet" href="css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="js/signup.js" defer></script>
</head>
<body>
    <div class="login-container">
        <h1 class="heading">Quiz Master</h1>

        <div class="error-message" th:if="${error}" th:text="${error}"></div>
        <div class="success-message" th:if="${success}" th:text="${success}"></div>
        <form action="/signup" method="post">

            <div class="quiz-info">
                <input type="text" class="username" placeholder="Name" name="name" required>
                <input type="email" class="username" placeholder="Email" name="email" required>
                <div class="gender">
                    <span class="gen">Gender:</span>
                    <div class="gender1">
                        <label><input type="radio" name="gender" value="M" required>Male</label>
    
                        <label><input type="radio" name="gender" value="F">Female</label>
                    </div>
               </div>
               <input type="password" class="pwd" placeholder="Password" name="password" required>
               <input type="password" class="pwd" placeholder="Confirm Password" name="confirmPassword" required>
            </div>
           
           
            <button id="login-button" class="login-button">Sign Up</button>
            <br>
            <a href="/login" class="sign">Already have an account?</a>
        </form>
    </div>
</body>
</html>